<h3>this page to manage all subjects</h3>
<div class="panel panel-success">
   <div class="panel-heading">
          
   </div>

   

   
   
   <div class="panel-body">
  <br>
  <i style="color:blue">select student name: </i>
      <select name="st1" [(ngModel)]="selectedStd">
        <option  *ngFor="let std  of stdlist" value="{{std.id}}">{{std.name}}</option>
       
      </select>
      
      <i style="color:blue">select subjects: </i>
      <select multiple style="width:200px;" [(ngModel)]="selectedSubj">
          <option *ngFor="let subj  of subjlist" value="{{subj.id}}">{{subj.name}}</option>
       
        </select>
<br>
<button (click)="submitGrades()" class="btn btn-primary">Submit</button>
   </div>
</div>
