<h3>this page to manage all subjects</h3>
<div class="panel panel-success">
   <div class="panel-heading">
          
   </div>

   <input type="text" [(ngModel)]="nsubj.name" placeholder="subject name"/>

   
   <button (click)="AddStd()">add new subject</button>
   <div class="panel-body">
       
       <!-- <button (click)="showAllSubjects()">showAllSubjects</button> -->
        <br> 
       <table class="table table-responsive-hover">
        <thead>  
        <tr>
             <td>id</td>
             <td>name</td>
            
            <td>options</td>
           </tr>
        </thead> 
        <tbody>
           <tr *ngFor="let item of subjlist">
            <td >{{item.id}}</td>
            <td>{{item.name}}</td>
           
            <td>
              <button class="btn btn-success" style="margin-left:10px;" (click)="subjDetails(item.id)">details</button>
              <button class="btn btn-primary" style="margin-left:10px;" (click)="subjEdit(item.id)">update</button>
              <button class="btn btn-danger" style="margin-left:10px;" (click)="subjDelete(item.id)">delete</button>
            
            </td>
           </tr>
          </tbody>
       </table>
       edit subject name: <input type="text" [(ngModel)]="subj.name" />
       <button class="btn btn-primary" style="margin-left:10px;" (click)="updateSubj()">update</button>
   </div>
</div>
