<h3>this page to manage all students</h3>
<div class="panel panel-success">
   <div class="panel-heading">
          
   </div>

   <input type="text" [(ngModel)]="nstd.name" placeholder="student name"/>
   <input type="text" [(ngModel)]="nstd.age" placeholder="student age"/>
   
   <button (click)="AddStd()">add new student</button>
   <div class="panel-body">
       
       <!-- <button (click)="showAllStudents()">showAllStudents</button> -->
        <br> 
       <table class="table table-responsive-hover">
        <thead>  
        <tr>
             <td>id</td>
             <td>name</td>
             <td>age</td>
            <td>options</td>
           </tr>
        </thead> 
        <tbody>
           <tr *ngFor="let item of stdlist">
            <td #id>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>
              <button class="btn btn-success" style="margin-left:10px;" (click)="stdDetails(item.id)">details</button>
              <button class="btn btn-primary" style="margin-left:10px;" (click)="stdEdit(item.id)">Edit</button>
              <button class="btn btn-danger" style="margin-left:10px;" (click)="stdDelete(item.id)">delete</button>
            
            </td>
           </tr>
          </tbody>
       </table>

      name: <input type="text" [(ngModel)]="std.name" /> age:<input type="text" [(ngModel)]="std.age"/>
       <button class="btn btn-primary" style="margin-left:10px;" (click)="updaeStd()">update</button>
   </div>
</div>
