<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
<h2>=================angular project============= </h2>

<a routerLink="/std" class="btn btn-primary" style="margin-left:10px;">Manage Students</a>
<a routerLink="/subj" class="btn btn-primary" style="margin-left:10px;">Manage Subjects</a>
<a routerLink="/grades" class="btn btn-primary" style="margin-left:10px;">Manage grades</a>
<a routerLink="/stdent" class="btn btn-primary" style="margin-left:10px;">view grades</a>
<br><br>
<router-outlet>

</router-outlet>
