<i style="color:blue">select student name: </i>
<select name="st1" [(ngModel)]="selstd">
  <option  *ngFor="let std  of stdlist" value="{{std.id}}">{{std.name}}</option>
 
</select>
<button (click)="manageGrade()" class="btn btn-primary" style="margin-left:10px;">Submit</button>

<br> 
<table class="table table-responsive-hover">
 <thead>  
 <tr>
      
      <td>subject name</td>
      <td>grade</td>
      <td></td>
    
    </tr>
 </thead> 
 <tbody>
    <tr *ngFor="let item of  grdlist">
     
     <td>{{item.subjname}}</td>
     <td>{{item.grade}}</td>
     <td><input type="text" [(ngModel)]="gradeValue"/></td>
     <td><button class="btn btn-primary" (click)="updateGrades(item.id)"><i>update grade</i></button></td>
    </tr>
   </tbody>
</table>

